* {
  padding: 0%;
  margin: 0%;
  border: 0%;
  box-sizing: border-box;
  font-family: inherit;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}